<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Responsive Construction Website Design Tutorial</title>

    <!-- Font Awesome CDN Link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- Custom CSS File Link  -->
    <link rel="stylesheet" href="~/css/style.css">

</head>

<body>


    <!-- HEADER -->
    <header class="header">
        <!--<a href="#" class="logo"><span><img src="images/TT.PNG" alt=""></span></a>-->
       <!--<img src="images/g.PNG" alt="">-->
       <a href="#" class="logo">NEW MIDDLE <span>EAST</span></a>
        <!--<a href="#" class="logo"><img src="images/logo1.jpg" alt=""></span></a>-->
       <!--<a href="#" class="logo"><img src="images/io.jpg" alt=""></span></a>-->

        <nav class="navbar">
            <a href="/Home/index">@SharedLocalizer.GetLocalizedString("Home")</a>
            <a href="/Home/about">@SharedLocalizer.GetLocalizedString("about")</a>
            <a href="/Home/Communication">@SharedLocalizer.GetLocalizedString("Communication")</a>
            <a href="#projects">@SharedLocalizer.GetLocalizedString("projects")</a>
            <!--<a href="/Home/vision">@SharedLocalizer.GetLocalizedString("our vission")</a>-->
            <!--<a href="#contact">@SharedLocalizer.GetLocalizedString("contact")</a>-->
            <a href="#blogs">@SharedLocalizer.GetLocalizedString("blogs")</a>
        </nav>
            <partial name="_SetCulture"/>

        <div class="icons">
            <div id="menu-btn" class="fas fa-bars"></div>
            <!--<div id="info-btn" class="fas fa-info-circle"></div>
            <div id="search-btn" class="fas fa-search"></div>
            <div id="login-btn" class="fas fa-user"></div>-->
        </div>

        <form action="" class="search-form">
            <input type="search" name="" placeholder="Search here..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <form action="" class="login-form">
            <h3>login form</h3>
            <input type="email" placeholder="Enter your email" class="box">
            <input type="password" placeholder="Enter your password" class="box">
            <div class="flex">
                <input type="checkbox" name="" id="remember-me">
                <label for="remember-me">remember me</label>
                <a href="#">forgot password?</a>
            </div>
            <input type="submit" value="login now" class="btn">
            <p>don't have an account <a href="#">create one!</a></p>
        </form>
    </header>

    <div class="contact-info">
        <div id="close-contact-info" class="fas fa-times"></div>

        <div class="info">
            <i class="fas fa-phone"></i>
            <h3>phone number</h3>
            <p>+966540008185</p>
            <p>+966540008185</p>
        </div>

        <div class="info">
            <i class="fas fa-envelope"></i>
            <h3>email address</h3>
            <p>Info@nmiddle.com</p>
            <p>Info@nmiddle.com</p>
        </div>

        <div class="info">
            <i class="fas fa-map-marker-alt"></i>
            <h3>office address</h3>
            <p>Riyadh, Al Izdihar district</p>
        </div>

        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- FOOTER -->
    
    <section class="footer">
        <!-- <div class="links">
            <a class="btn" href="#home">@SharedLocalizer.GetLocalizedString("Home")</a>
            <a class="btn" href="#about">@SharedLocalizer.GetLocalizedString("about")</a>
            <a class="btn" href="#services">@SharedLocalizer.GetLocalizedString("services")</a>
            <a class="btn" href="#projects">@SharedLocalizer.GetLocalizedString("projects")</a>-->
            <!--<a class="btn" href="#pricing">pricing</a>-->
            <!-- <a class="btn" href="#contact">contact</a>-->
        <!--<a class="btn" href="#blogs">@SharedLocalizer.GetLocalizedString("blogs")</a>-->
        </div>

        <div class="credit">@SharedLocalizer.GetLocalizedString("Info@nmiddle.com ") <span>@SharedLocalizer.GetLocalizedString(" +966540008185")</span>@SharedLocalizer.GetLocalizedString("NEW MIDDLE EST") </div>
        
       
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <!-- Custom JS File Link  -->
    <script src="~/js/script.js"></script>
    <script>

        lightGallery(document.querySelector('.projects .box-container'));

    </script>

</body>

</html>
