@{
    ViewData["Title"] = "Home Page";
}

<div class="contact-info">
    <div id="close-contact-info" class="fas fa-times"></div>

    <div class="info">
        <i class="fas fa-phone"></i>
        <h3>phone number</h3>
        <p>+966540008185</p>
        <p>+966540008185</p>
    </div>

    <div class="info">
        <i class="fas fa-envelope"></i>
        <h3>email address</h3>
        <p>Info@nmiddle.com</p>
        <p>Info@nmiddle.com</p>
    </div>

    <div class="info">
        <i class="fas fa-map-marker-alt"></i>
        <h3>office address</h3>
        <p>Riyadh, Al Izdihar district</p>
    </div>

    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
    </div>
</div>

<!-- HOME -->
<section class="home" id="home">
    <div class="swiper home-slider">
        <div class="swiper-wrapper">
            <section class="swiper-slide slide" style="background: url(images/home-slide-2.jpg) no-repeat;">
                <div class="content">
                    <h3>@SharedLocalizer.GetLocalizedString("New Middle East General Contracting Company core values")</h3>
                    <p>@SharedLocalizer.GetLocalizedString("Excellence is the end result of knowing understanding embracing and achieving core values In the fall of 2007 site and office staff met outside to discuss core values We wanted to know what are the absolute principles that define the way New Middle East General Contracting Company operates Actually we wanted an analysis of the company's DNA")</p>
                    
                    <a href="#about" class="btn">@SharedLocalizer.GetLocalizedString("get started")</a>
                </div>
            </section>

            <section class="swiper-slide slide" style="background: url(images/home-slide-2.jpg) no-repeat;">
                <div class="content">
                    <h3>making dream come to life</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, odio voluptatem accusantium non
                        molestias adipisci!
                    </p>
                    <a href="#about" class="btn">get started</a>
                </div>
            </section>

            <section class="swiper-slide slide" style="background: url(images/home-slide-3.jpg) no-repeat;">
                <div class="content">
                    <h3>from concept to creation</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur aperiam, doloribus eius
                        adipisci ex illum.
                    </p>
                    <a href="#about" class="btn">get started</a>
                </div>
            </section>
        </div>

        <!--<div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>-->
    </div>
</section>

<!-- ABOUT -->
<section class="about" id="about">
    <h1 class="heading">@SharedLocalizer.GetLocalizedString("about us")</h1>

    <div class="row">
        <div class="video">
            <video src="images/about-vid.mp4" loop muted autoplay></video>
        </div>

        <div class="content">
            <h3>@SharedLocalizer.GetLocalizedString("We will provide you the best work which you dreamt for")</h3>
            <p>@SharedLocalizer.GetLocalizedString("Our sincerity reflects our honesty and integrity in our dealings with our customers and employees. Teamwork has been an integral part of our culture since the company was founded in 2005. And of course teamwork has to influence without mutual respect respect and consideration")</p>
            <a href="#services" class="btn">@SharedLocalizer.GetLocalizedString("read more")</a>
        </div>
    </div>

   <!-- <div class="box-container">
        <div class="box">
            <h3>10+</h3>
            <p>years of experience</p>
        </div>

        <div class="box">
            <h3>1500+</h3>
            <p>projects completed</p>
        </div>

        <div class="box">
            <h3>790+</h3>
            <p>satiesfied clients</p>
        </div>

        <div class="box">
            <h3>450+</h3>
            <p>active workers</p>
        </div>
     </div>-->
</section>

<!-- SERVICES -->
<section class="services" id="services">
    <h1 class="heading">@SharedLocalizer.GetLocalizedString("our services")</h1>

    <div class="box-container">
        <div class="box">
            <img src="images/service-1.png" alt="">
            <h3>@SharedLocalizer.GetLocalizedString("building construction")</h3>
            <p>@SharedLocalizer.GetLocalizedString("the process of adding structure to real property via various techniques")</p>
        </div>

        <div class="box">
            <img src="images/service-2.png" alt="">
            <h3>@SharedLocalizer.GetLocalizedString("house renovation")</h3>
            <p>@SharedLocalizer.GetLocalizedString("the process of repairing and improving a building so that it is in good condition again")</p>
        </div>

        <div class="box">
            <img src="images/service-3.png" alt="">
            <h3>@SharedLocalizer.GetLocalizedString("architechture design")</h3>
            <p>@SharedLocalizer.GetLocalizedString("the designing and planning of structures where functionality and aesthetics are the two key elements of the process")</p>
        </div>

        <div class="box">
            <img src="images/service-4.png" alt="">
            <h3>@SharedLocalizer.GetLocalizedString("material supply")</h3>
            <p>@SharedLocalizer.GetLocalizedString("Materials and supplies are deemed to include goods used as inputs in a production process")</p>
        </div>

        <div class="box">
            <img src="images/service-5.png" alt="">
            <h3>@SharedLocalizer.GetLocalizedString("construction consultant")</h3>
            <p>@SharedLocalizer.GetLocalizedString("help the project owner obtain all the necessary building and trade-specific permits to complete the project")</p>
        </div>

        <div class="box">
            <img src="images/service-6.png" alt="">
            <h3>@SharedLocalizer.GetLocalizedString("interior design")</h3>
            <p>@SharedLocalizer.GetLocalizedString("make indoor spaces functional, safe, and beautiful by determining space requirements and selecting essential and decorative items")</p>
        </div>

        <div class="box">
            <img src="images/service-7.png" alt="">
            <h3>@SharedLocalizer.GetLocalizedString("building maintenance")</h3>
            <p>@SharedLocalizer.GetLocalizedString("regularly and repairing items that are broken It can involve inspecting repairing and maintaining electrical systems")</p>
        </div>

        <div class="box">
            <img src="images/service-8.png" alt="">
            <h3>@SharedLocalizer.GetLocalizedString("building renovation")</h3>
            <p>@SharedLocalizer.GetLocalizedString("the structural and technical restoration or modernisation of one or several floors or even an entire existing structure")</p>
        </div>
    </div>
</section>

<!-- PROJECTS -->
<section class="projects" id="projects">
    <h1 class="heading">@SharedLocalizer.GetLocalizedString("our projects")</h1>

    <div class="box-container">
        <a href="images/project-1.jpg" class="box">
            <div class="image">
                <img src="images/project-1.jpg" alt="">
            </div>
            <div class="content">
                <div class="info">
                    <h3>@SharedLocalizer.GetLocalizedString("dream home")</h3>
                    <p>@SharedLocalizer.GetLocalizedString("construction, design")</p>
                </div>
                <i class="fas fa-plus"></i>
            </div>
        </a>

        <a href="images/project-2.jpg" class="box">
            <div class="image">
                <img src="images/project-2.jpg" alt="">
            </div>
            <div class="content">
                <div class="info">
                    <h3>@SharedLocalizer.GetLocalizedString("dream home")</h3>
                    <p>@SharedLocalizer.GetLocalizedString("construction, design")</p>
                </div>
                <i class="fas fa-plus"></i>
            </div>
        </a>

        <a href="images/project-3.jpg" class="box">
            <div class="image">
                <img src="images/project-3.jpg" alt="">
            </div>
            <div class="content">
                <div class="info">
                    <h3>@SharedLocalizer.GetLocalizedString("dream home")</h3>
                    <p>@SharedLocalizer.GetLocalizedString("construction, design")</p>
                </div>
                <i class="fas fa-plus"></i>
            </div>
        </a>

        <a href="images/project-4.jpg" class="box">
            <div class="image">
                <img src="images/project-4.jpg" alt="">
            </div>
            <div class="content">
                <div class="info">
                    <h3>@SharedLocalizer.GetLocalizedString("dream home")</h3>
                    <p>@SharedLocalizer.GetLocalizedString("construction, design")</p>
                </div>
                <i class="fas fa-plus"></i>
            </div>
        </a>

        <a href="images/project-5.jpg" class="box">
            <div class="image">
                <img src="images/project-5.jpg" alt="">
            </div>
            <div class="content">
                <div class="info">
                    <h3>@SharedLocalizer.GetLocalizedString("dream home")</h3>
                    <p>@SharedLocalizer.GetLocalizedString("construction, design")</p>
                </div>
                <i class="fas fa-plus"></i>
            </div>
        </a>

        <a href="images/project-6.jpg" class="box">
            <div class="image">
                <img src="images/project-6.jpg" alt="">
            </div>
            <div class="content">
                <div class="info">
                    <h3>@SharedLocalizer.GetLocalizedString("dream home")</h3>
                    <p>@SharedLocalizer.GetLocalizedString("construction, design")</p>
                </div>
                <i class="fas fa-plus"></i>
            </div>
        </a>
    </div>
</section>

<!-- REVIEWS -->
<!--
<section class="reviews">
   <h1 class="heading">clients reviews</h1>

   <div class="swiper reviews-slider">
      <div class="swiper-wrapper">
         <div class="swiper-slide slide">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aut nesciunt eaque soluta! Fugit, enim
               voluptates! Ab nam id saepe! Sed velit fugit ipsum facere omnis eum quo ea maxime?</p>
            <div class="user">
               <img src="images/pic-1.png" alt="">
               <div class="info">
                  <h3>jhon deo</h3>
                  <div class="stars">
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                  </div>
               </div>
            </div>
         </div>

         <div class="swiper-slide slide">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia quis unde inventore fugit atque
               quia, eum adipisci neque natus explicabo deserunt perferendis soluta aut dolorem placeat accusamus
               quas quidem odit?</p>
            <div class="user">
               <img src="images/pic-2.png" alt="">
               <div class="info">
                  <h3>jhon deo</h3>
                  <div class="stars">
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                  </div>
               </div>
            </div>
         </div>

         <div class="swiper-slide slide">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur maiores natus, explicabo tempore
               voluptatum, nihil minus vitae dolores, expedita velit dicta dolorem temporibus voluptatem. Ullam
               impedit voluptate quo ad fugiat?</p>
            <div class="user">
               <img src="images/pic-3.png" alt="">
               <div class="info">
                  <h3>jhon deo</h3>
                  <div class="stars">
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                  </div>
               </div>
            </div>
         </div>

         <div class="swiper-slide slide">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore in eum enim repellendus cum unde hic
               vel. Facere inventore dolorum possimus quasi? Excepturi provident inventore maiores assumenda
               repellat. Laborum, rem!</p>
            <div class="user">
               <img src="images/pic-4.png" alt="">
               <div class="info">
                  <h3>jhon deo</h3>
                  <div class="stars">
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                  </div>
               </div>
            </div>
         </div>

         <div class="swiper-slide slide">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit iure rem, autem aliquam
               corporis architecto quam vitae sequi facere praesentium ducimus odit, aspernatur nihil voluptatibus
               dolore veritatis excepturi expedita fugiat!</p>
            <div class="user">
               <img src="images/pic-5.png" alt="">
               <div class="info">
                  <h3>jhon deo</h3>
                  <div class="stars">
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                  </div>
               </div>
            </div>
         </div>

         <div class="swiper-slide slide">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quisquam sed eligendi animi tempora
               reprehenderit temporibus consequatur rem? Doloribus impedit cum iure reiciendis facere, quidem
               deleniti ratione aperiam ipsam deserunt?</p>
            <div class="user">
               <img src="images/pic-6.png" alt="">
               <div class="info">
                  <h3>jhon deo</h3>
                  <div class="stars">
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>-->
<!-- PRICING -->


<!--<section class="pricing" id="pricing">
    <h1 class="heading">our pricing</h1>

    <div class="box-container">
        <div class="box">
            <i class="fas fa-home"></i>
            <h3>basic plan</h3>
            <div class="price"><span>$</span>250<span>/mo</span></div>
            <div class="list">
                <p>Interior design</p>
                <p>Refurbishment</p>
                <p>Material supply</p>
                <p>Maintenance</p>
                <p>24/7 support</p>
            </div>
            <a href="#" class="btn">choose plan</a>
        </div>

        <div class="box">
            <i class="fas fa-building"></i>
            <h3>premium plan</h3>
            <div class="price"><span>$</span>650<span>/mo</span></div>
            <div class="list">
                <p>Interior design</p>
                <p>Refurbishment</p>
                <p>Material supply</p>
                <p>Maintenance</p>
                <p>24/7 support</p>
            </div>
            <a href="#" class="btn">choose plan</a>
        </div>

        <div class="box">
            <i class="fas fa-city"></i>
            <h3>ultimate plan</h3>
            <div class="price"><span>$</span>1250<span>/mo</span></div>
            <div class="list">
                <p>Interior design</p>
                <p>Refurbishment</p>
                <p>Material supply</p>
                <p>Maintenance</p>
                <p>24/7 support</p>
            </div>
            <a href="#" class="btn">choose plan</a>
        </div>
    </div>
</section>-->

<!-- CONTACT -->
<!--
<section class="contact" id="contact">
   <h1 class="heading">contact us</h1>

   <div class="row">
      <iframe class="map"
         src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.553860393622!2d-77.06070788526978!3d-12.005341891494876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105cf4c80d83faf%3A0x3a96a45de0f26696!2sMAESTRO%20HOME%20CENTER!5e0!3m2!1ses!2spe!4v1644898782874!5m2!1ses!2spe"
         allowfullscreen="" loading="lazy">
      </iframe>

      <form action="">
         <h3>get in touch</h3>
      <div class="info">
        <i class="fas fa-phone"></i>
        <h3>phone number</h3>
        <p>+966540008185</p>
        <p>+966540008185</p>
    </div>

    <div class="info">
        <i class="fas fa-phone"></i>
        <h3>phone number</h3>
        <p>+966540008185</p>
        <p>+966540008185</p>
    </div>
      </form>
   </div>
</section>-->
<!-- BLOGS -->
<section class="blogs" id="blogs">
    <h1 class="heading">our blogs</h1>

    <div class="swiper blogs-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide">
                <div class="image">
                    <img src="images/blog-1.jpg" alt="">
                </div>
                <div class="content">
                    <h3>blog title goes here</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, modi!</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="images/blog-2.jpg" alt="">
                </div>
                <div class="content">
                    <h3>blog title goes here</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, dolor.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="images/blog-3.jpg" alt="">
                </div>
                <div class="content">
                    <h3>blog title goes here</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, voluptatibus.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="images/blog-4.jpg" alt="">
                </div>
                <div class="content">
                    <h3>blog title goes here</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, illum!</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="images/blog-5.jpg" alt="">
                </div>
                <div class="content">
                    <h3>blog title goes here</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, illo!</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="images/blog-6.jpg" alt="">
                </div>
                <div class="content">
                    <h3>blog title goes here</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, iste!</p>
                    <!--<a href="#" class="btn">read more</a>-->
                </div>
            </div>
        </div>
    </div>
</section>
